dj-database-url==0.4.1
Django==1.11.28
django-crispy-forms==1.6.0
djangorestframework==3.11.2
djangorestframework-filters==0.11.1
drfdocs==0.0.11
gunicorn==19.6.0
hashids==1.1.0
psycopg2==2.7.6.1
whitenoise==3.2.1
django-cors-headers==2.5.2
