{% extends 'base.html' %}

{% block title %}dhcra.in{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>dhcra.in <small>a URL shortner</small></h1>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                {% if request.user.is_authenticated %}
                    {% include "includes/bookmark_modal.html" %}
                {% else %}
                    <a href="{% url 'login_view' %}">Log in to shorten a link</a>
                {% endif %}
                <br>
                <a href="{% url 'user_view' %}">See What Other Users are Bookmarking</a>
            </div>
        </div>
    </div>

    <h2>All Shortened Links</h2>

    {% include "includes/bookmark_table.html" %}

{#    https://docs.djangoproject.com/en/1.9/topics/class-based-views/mixins/#using-singleobjectmixin-with-listview#}
    <nav>
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li>Page {{ page_obj.number }} of {{ paginator.num_pages }}</li>
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}
